<h1>Listing messages</h1>

<table class="table table-bordered">
  <tr>
    <th>Class</th>
    <th>Lesson</th>
    <th>Message</th>
    <th>Date</th>
    <th>Show</th>
    <th>Delete</th>
  </tr>


  <% @messages.each do |message| %>
      <tr>
        <td><%= message.classroom_id %></td>
        <td><%= message.lesson_id %></td>
        <td><%= message.message %></td>
        <td><%= message.created_at.to_date %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
