<p id="notice"><%= notice %></p>

<p>
  <% if @message.classroom_id %>
      <b>Class: </b><%= @message.classroom_id %>
  <% end %>
</p>

<p>
  <% if @message.lesson_id %>
      <b>lesson: </b><%= @message.lesson_id %>
  <% end %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Destroy', message_path, method: :delete, data: { confirm: 'Are you sure?' } %>
