<p id="notice"><%= notice %></p>

<p>
  <%# if @message.classroom_id > 0 %>
  <b>Class: </b><%= @message.classroom_id %>
  <%# end %>

</p>

<p>

  <%# if @message.lesson_id > 0 %>
  <b>lesson: </b><%= @message.lesson_id %>
  <%# end %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
