<%= simple_form_for(@classroom) do |f| %>
    <% if @classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>
          <ul>
            <% @classroom.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <table>
      <tr>
        <th>
          <%= f.input :name %>
          <br><%= f.association :teachers, :label_method => :email %>
          <br><%= f.input :running_date, as: :string %>
        </th>
        <th>
          <%= f.input :description, placeholder: "Here is where you put the description of the classroom!" %>
        </th>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>