<%= simple_form_for(@classroom) do |f| %>
    <% if @classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>
          <ul>
            <% @classroom.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.association :teachers, :label_method => :email %>
    <%= f.input :running_date, as: :string %>
    <%= f.input :name %>
    <%= f.input :description, placeholder: "Here is where you put the description of the classroom!" %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
