<div class="container">
  <div class="hero-unit muted">
    <h1 >Welcome to TeachCamp</h1>
    <h3>Register Classrooms, Create Lessons, and Build a Community for your Students</h3>
    <%= link_to "Create New Account!", new_teacher_registration_path, class: "btn btn-info btn-large" %>
    <%= link_to "Login to Your Account", new_teacher_session_path, class: "btn btn-large" %>
  </div>
  <div class="row">
    <div class="span4">
      <div>
        <h3>
          Foster Communication
        </h3>
        <p>
          Create an Open Community of Communication, Reward Students
          for Answering Questions from other students!
          require community building and open sharing of reading.
          Help the kids and parents talk.
        </p>
      </div>
      <%= link_to "View Details >>", root_path, class: "btn" %>
    </div>
    <div class="span4">
      <div>
        <h3>
          Distribute Homework
        </h3>
        <p>
          Organize the Calendar with 'Syllabus Builder'.
          This is a template for a simple marketing or informational website.
          It includes a large callout called
          the hero unit and three supporting pieces of content.
          Use it as a starting point to create something more unique.
        </p>
      </div>
      <%= link_to "View Details >>", root_path, class: "btn" %>
    </div>
    <div class="span4">
      <div>
        <h3>
          Keep Parents Active
        </h3>
        <p>
          If students need parental supervision, we automatically notify.
          This is a template for a simple marketing or informational website.
          It includes a large callout called the hero unit and three supporting pieces of content.
          Use it as a starting point to create something more unique.
        </p>
      </div>
      <%= link_to "View Details >>", root_path, class: "btn" %>
    </div>
  </div>
  <hr>
  <div>
  </div>
</div>