
<div class="container">
  <div class="hero-unit">
    <div>
      <h1 >Welcome to TeachCamp</h1>
      <h3>Build a Community for your Classrooms and Students</h3>
      <%= link_to "Create New Account!", new_teacher_registration_path, class: "btn btn-info btn-large" %>
      <%= link_to "Login to Your Account", new_teacher_session_path, class: "btn btn-large" %>
    </div>
  </div>

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <div>
          <h2>
            Foster Communication
          </h2>
          <%= link_to "View Details >>", root_path, class: "btn btn-large pull-right" %>
          <h4>
            Create an Open Community of Communication, Reward Students
            for Answering Questions from other students!
            require community building and open sharing of reading.
            Help the kids and parents talk.
          </h4>
        </div>
      </div>
      <div class="item">
        <div>
          <h2>
            Distribute Homework
          </h2>
          <%= link_to "View Details >>", root_path, class: "btn btn-large pull-right" %>
          <h4>
            Organize the Calendar with 'Syllabus Builder'.
            This is a template for a simple marketing or informational website.
            It includes a large callout called
            the hero unit and three supporting pieces of content.
            Use it as a starting point to create something more unique.
          </h4>
        </div>
      </div>

      <div class="item">
        <div>
          <h2>
            Keep Parents Active
          </h2>
          <%= link_to "View Details >>", root_path, class: "btn btn-large pull-right" %>
          <h4>
            If students need parental supervision, we automatically notify.
            This is a template for a simple marketing or informational website.
            It includes a large callout called the hero unit and three supporting pieces of content.
            Use it as a starting point to create something more unique.
          </h4>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <div class="container">
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>


</div>