<h1>Listing classrooms</h1>

<table class="table table-bordered">
  <tr>
    <th>Teacher</th>
    <th>Running date</th>
    <th>Name</th>
    <th>Description</th>
    <th>Show</th>
    <th>edit</th>
    <th>delete</th>
  </tr>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><%= classroom.teacher_id %></td>
    <td><%= classroom.running_date %></td>
    <td><%= classroom.name %></td>
    <td><%= classroom.description %></td>
    <td><%= link_to 'Show', classroom %></td>
    <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
    <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classroom', new_classroom_path %>
