<p id="notice"><%= notice %></p>

<p>
  <b>Teacher:</b>
  <%= @classroom.teacher_id %>
</p>

<p>
  <b>Running date:</b>
  <%= @classroom.running_date %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
