<div class="row">
  <div class="span10">
    <h1><%= @classroom.name %></h1>
    <%= link_to 'Edit Classroom', edit_classroom_path(@classroom) %>
    <h3>
      <b>Teacher:</b>
      <% @classroom.teachers.each do |teacher| %>
          <%= teacher.email %> <br>
      <% end %>
    </h3>
    <h5>Running Date: <%= @classroom.running_date %></h5>

    <div>
      <h4>Class Description: <br>
        <%= @classroom.description %> </h4>
    </div>

    <div class="span5">
      <h3>Lessons:<%= link_to '(new)', new_classroom_lesson_path(@classroom) %></h3>
      <ol>
        <%  @classroom.lessons.each do |lesson| %>
            <li>
              <b>
                <%= link_to lesson.name, classroom_lesson_path(@classroom.id, lesson.id) %>
              </b>
              <i>
                <%= lesson.description %>
              </i>
            </li>
        <% end %>
      </ol>
      <div id="disqus_thread">
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'teachcamp'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
    <div class="span4 well">
      <div id="messages">
        <h5>FAQ: <%= link_to "new", new_message_path(classroom_id: @classroom.id) %></h5>
        <ul class="unstyled">
          <% @messages.reverse.each do |question| %>
              <li>
                <i><small><%= link_to question.created_at.to_date, message_path(question.id), target: "_blank" %></small></i>
                <b><%= question.message %></b>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>