<div class="span3">
  <%= link_to 'Edit Profile', edit_student_path(@student) %>
  <p>
    <b>Classes:</b>
    <% @student.classrooms.each do |classroom| %>
        <br><%= link_to classroom.name, classroom %>
    <% end %>
  </p>
  <p>
    <b>Name:</b>
    <%= @student.name %>
  </p>

  <p>
    <b>Phone:</b>
    <%= @student.phone %>
  </p>

  <p>
    <b>Email:</b>
    <%= @student.email %>
  </p>
</div>





<div class="well span6"><ul>
  <li><strong>School/District Requirements</strong></li>
  <li>After one unexcused absence in a month, the school is required to inform the parent in writing or by phone.</li>
  <li>After two unexcused absences, the school is required to initiate a parent conference to improve the student's attendance.</li>
  <li>After five unexcused absences in a month, the parent and school must enter a contract to improve the student's attendance. Or, the case can be referred to a Community Truancy Board.</li>
  <li>After seven unexcused absences in a month, or ten unexcused absences in an academic year, the school district may file truancy petitions with the juvenile court.</li>
  <li>If the student is not in compliance with a court order resulting from a tuition petition, the school is required to file a contempt motion.</li>
</ul>
</div>
<div class="container">
  <ul class="thumbnails">
    <% @student.classrooms.each do |classroom| %>
        <li class="span4 hover">
          <div class="thumbnail">
            <h3><%= link_to classroom.name, classroom_path(classroom.id) %></h3>
            <img src="http://placehold.it/300x100" alt="">
            <dl class="dl-horizontal">
              <dt>Present:</dt>
              <dd><%= @student.attendances.where(classroom_id: classroom.id).limit(180).where(present: true, tardy: false).count %></dd>
              <dt>Tardy:</dt>
              <dd><%= @student.attendances.where(classroom_id: classroom.id).limit(180).where(present: true, tardy: true).count %></dd>
              <dt>Excused:</dt>
              <dd><%= @student.attendances.where(classroom_id: classroom.id).limit(180).where(present: false, excused: true).count %></dd>
              <dt>Absent:</dt>
              <dd><%= @student.attendances.where(classroom_id: classroom.id).limit(180).where(present: false, excused: false).count %></dd>
            </dl>

            <a class="btn btn-block" data-toggle="collapse" data-target=".<%= classroom.id %>-collapse">Show Attendance Record <i class="icon-list-alt"></i></a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed within .navbar-collapse.collapse. -->
            <div class="<%= classroom.id %>-collapse collapse">
              <ul class="nav">
                <% @student.attendances.where(classroom_id: classroom.id).limit(180).each do |attendance| %>
                    <li><%= attendance.created_at.to_date %> <%= attendance.present %> <%= attendance.tardy %> <%= attendance.excused %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>