<h1>Listing lessons</h1>

<table class="table table-bordered">
  <tr>
    <th>Class</th>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.class_id %></td>
    <td><%= lesson.name %></td>
    <td><%= lesson.description %></td>
    <td><%= lesson.date %></td>
    <td><%= link_to 'Show', classroom_lesson_path(@classroom) %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson', new_classroom_lesson_path %>
