<p id="notice"><%= notice %></p>

<p>
  <b>Class:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>Name:</b>
  <%= @lesson.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lesson.description %>
</p>

<p>
  <b>Date:</b>
  <%= @lesson.date %>
</p>


<%= link_to 'Edit', edit_classroom_lesson_path(@classroom) %> |
<%= link_to 'Back', classroom_lessons_path(@classroom) %>
