<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @attendance.student_id %>
</p>

<p>
  <b>Class:</b>
  <%= @attendance.class_id %>
</p>

<p>
  <b>Present:</b>
  <%= @attendance.present %>
</p>

<p>
  <b>Tardy:</b>
  <%= @attendance.tardy %>
</p>

<p>
  <b>Excused:</b>
  <%= @attendance.excused %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
